@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
body {
	font-family: "Roboto", sans-serif;
	font-size: 30px;
	background-color: rgb(235, 235, 235);
	color: whitesmoke;
	background: url("html & css/css images/light.jpg") no-repeat center fixed;
	height: 100%;
	transition: 1s background;
	overflow-x: hidden;
}

h2 {
	color: rgb(22, 22, 22);
	max-width: 10%;
	cursor: default;
	padding-left: 12px;
	transition: 1s color;
}
h4 {
	color: rgb(37, 37, 37);
	cursor: default;
	padding-left: 12px;
	font-weight: 300;
	font-size: 19px;
	margin-left: 2%;
	margin-top: -25px;
	transition: 1s color;
}
.links {
	border: 1px #333 solid;
	display: inline-block;
	padding: 0.2% 0% 0.4% 0.2%;
	border-radius: 10px;
	max-width: 90%;
	min-width: 21vw;
	background-color: rgba(255, 255, 255, 0.603);
	transition: 1s background;
}
#dark-mode .links {
	background-color: #0b0d31;
}
a {
	color: #333;
	text-decoration: none;
	border-radius: 6px;
	padding: 12px 10px;
	color: white;
	background-color: #1a73e8;
	font-size: 18px;
	font-weight: 500;
	float: left;
	text-align: center;
	text-transform: capitalize;
	margin-left: 0.3%;
	transition: border 280ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: border, box-shadow;
	transition: background-color 0.3s;
	margin-top: 0.3%;
}
a:hover {
	background-color: #1b66ca;
	transition: background-color 0.3s;
	box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
a:active {
	background-color: #1459b3;
}
span {
	float: right;
	border: none;
	transform: scale(1.3);
	padding-right: 1.6%;
	transition: transform 0.2s;
	user-select: none;
}
span:hover {
	transform: scale(1.4);
	transition-duration: transform 0.2s;
}
#up {
	float: none;
	transform: none;
	padding: 0;
	cursor: pointer;
	color: #000000;
	font-weight: 400;
	transition: 1s;
	font-weight: 900;
}

.js {
	background-color: #f0d91d;
	font-weight: 900;
	color: black;
}
.js:hover {
	background-color: #e6ce1b;
}
.js:active {
	background-color: #aa9812;
}
.jquery {
	background-color: #291ec0;
	text-transform: none;
}
.jquery:hover {
	background-color: #241aa8;
}
.jquery:active {
	background-color: #1b1485;
}
.html {
	background-color: #e94f32;
}
.html:hover {
	background-color: #c7442a;
}
.html:active {
	background-color: #aa3923;
}
.git {
	background-color: #313131;
}
.git:hover {
	background-color: #1b1b1b;
}
.git:active {
	background-color: #0f0f0f;
}
#dark-mode,
#dark-mode h2 {
	color: white;
	transition: 1s color;
}
#dark-mode h4 {
	color: rgb(221, 221, 221);
}
#dark-mode #up {
	color: #fff;
	transition: 1s;
}
#dark-mode span {
	background-color: transparent;
	user-select: none;
}
#dark-mode .links {
	border: 1px white solid;
	background-color: rgba(30, 20, 88, 0.473);
	transition: 1s background;
}
#dark-mode {
	background: url("html & css/css images/dark.jpg") no-repeat bottom right fixed;
	transition: 1s background;
}
.link {
	color: #06071b;
	cursor: pointer;
}
.link:hover {
	font-weight: bolder;
}
.basic {
	background-color: rgb(78, 78, 78);
}
.basic:hover {
	background-color: rgb(65, 65, 65);
}
